
div.centralizar {
    text-align: center
}
h1 {
    text-align: center
}

  #menu ul {
            padding: 0px;
            margin: 0px;
            float: left;
            width: 100%;
            background-color: #EDEDED;
            list-style: none;
            font: 80% Tahoma;
        }

            #menu ul li {
                display: inline;
            }

                #menu ul li a {
                    background-color: #EDEDED;
                    color: #333;
                    text-decoration: none;
                    border-bottom: 3px solid #EDEDED;
                    padding: 2px 10px;
                    float: left;
                }

                    #menu ul li a:hover {
                        background-color: #D6D6D6;
                        color: #6D6D6D;
                        border-bottom: 3px solid #EA0000;
                    }


html {
  height: 105%;
}
#header{
        background-color: #dbdbd7;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
    background-color: #dbdbd7;
    background-image:linear-gradient(#434343, #282828);
}
#content{
    background-color: transparent;
    background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, 
    transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, 
    rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height:100%;
  background-size:50px 50px;
}
p {
    margin-left: 50px;
    color: #d1d1cd;
}
h2 {
    margin-left: 20px;
    color: #e6e035;
    margin-top: 10px;
}

#logo{
    margin-left:20px

}
   