body {
    background: linear-gradient(127deg, rgba(61,61,61,1) 0%, rgba(30,30,31,1) 76%);
    background-attachment: fixed;
}

.texto {
    color: $cor-texto;
    line-height: 24px;
    font-size: $tamanho-texto-padrao;
    font-weight: 500;
    @include espacamento-texto-padrao;
}

.texto--alinhado-esquerda {
    text-align: left;
}

.texto--alinhado-centro {
    text-align: center;
}

.titulo {
    color: $cor-titulo-secao;
    font-size: $tamanho-titulo-secao--generico;
    font-weight: 700;
    display: inline-block;
    @include espacamento-titulo-secao;
}

.subtitulo{
    color: $cor-titulo-secao;
    font-size: $tamanho-subtitulo-secao--generico;
    font-weight: 600;
    display: inline-block;
    @include espacamento-titulo-secao;
}

.titulo--cursor-active{
    border-right: 2px solid $cor-titulo-secao;
}

.container__imagem {
    display: flex;
    justify-content: space-around;
}


.imagem {
    margin: 2rem 0;
    width: 75%;
    box-shadow: 10px 10px 20px #ffffff49;
}

@media (min-width: 500px){
    .titulo {
        font-size: $tamanho-titulo-secao--500px;
    }
    .subtitulo{
        font-size: $tamanho-subtitulo-secao--500px;
    }
}

