
body {
    background: #C8C8C8;
}

#banner {
    text-align: center;
    width: 100%;
}

.caixa-centralizada {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    padding: 28px;
    border: solid 10px;
    width: 1200px;
    margin: 10px auto;
}

.div1 hr {
margin: 0px ;
}

.div1 p {
 margin:0;
 padding-top: 10px;
}

.div1 {
    text-align: center;
    background: #A2A2A2;
    width: 100%;
    padding: 20px 0;
    padding-bottom: 25px;
}

.div1 #missao {

    font-size: 24px;
}

.div1 #missao strong {
    color: rgb(117, 42, 17);
}

.beneficios {
    text-align: left;
    background: rgb(99, 99, 99);
    width: 100%;
    padding: 20px 0;
}

.titulo-beneficios {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
    color: rgba(255, 238, 0, 0.76);
}


#rock {
    width: 50%;
}

.itens:hover{
    color:rgba(62, 199, 147, 0.76);
}

em ,i{
	font-style: italic;
}

strong,b{
	font-weight: bolder;
}