.produto{
    height: calc(100vh - 6rem);
    display: flex;
    overflow: hidden;
}

.produto_foto{
    background-image: url(/carrossel-paralax/assets/img/produto-capa.png);
    width: 40%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-5px) translate(-75%,25%) scale(2.6);
    z-index: -1;
    
}

.produto_descricao{
    width: 60%;
    padding-top: 3rem;
    box-sizing: border-box;
    color: var(--cinza);
    background-color: var(--branco);
}

.produto_marca{
    text-transform: uppercase;
    font-size: 11.5rem;
    font-weight: 800;
    color: var(--rosa-claro);
    letter-spacing: 0.5rem;
    line-height: 9rem;
}

.produto_divisao{
    position: relative;
    padding-left: 1rem;
}

.produto_preco{
    font-size: 1.375rem;
    font-weight: 800;
    margin-bottom: 2.5rem;
    letter-spacing: 0.125rem;
}

.produto_nome {
    font-size: 1.375rem;
    font-weight: 7000;
    margin-bottom: 0.875rem;
    letter-spacing: 0.125rem;
    line-height: 1.875rem;
    width: 31.875rem;
}
.produto_texto{
    margin-bottom: 1rem;
    letter-spacing: 0.125rem;
    width: 31.875rem;
    line-height: 1.25rem;
}
.produto_comprar{
    position: absolute;
    bottom: 0.75rem;
    right: 2rem;
    border: none;
    color: var(--branco);
    font-weight: 900;
    letter-spacing: 0.25rem;
    font-family: inherit;
    text-transform: uppercase;
    border-radius: 35px;
    background-color: var(--laranja);
    min-width: 10.75rem;
    padding: 1.25rem 1rem;
    box-sizing: border-box;
}