<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1> Livros da Casa do Código </h1>
    <table id="livros">
        <tr>
            <th>ID</th>
            <th>Títulos</th>
            <th>Preço</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        <tr id="livro_${livro.id}" for (livro in data.livros)>
            <td>${livro.id}</td>
            <td>${livro.titulo}</td>
            <td>${livro.preco}</td>
            <td><a href="/livros/form/${livro.id}">Editar</a></td>
            <td><a href="#" data-ref="${livro.id}" data-type="remocao">Remover</a></td>
        </tr>

    </table>
    <script src="/static/js/remove-livro.js"></script>
</body>

</html>