.skills__container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.skills__cards{
    width: 95%;
    opacity: 1;
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: opacity 0.5s ease-in-out,
                transform 0.5s ease-in-out;
}

.skills__cards--hide{
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out,
                transform 0.5s ease-in-out;
}

.skills__cards--erase {
    display: none;
}

.skills__itens {
    color: $cor-letra-card-skill;
    width: $largura-card-skill;
    text-align: center;
    @include altura-card-skill;
    background-color: $cor-fundo-card-skill;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    transition: transform 0.5s ease-in-out;
    font-family: $fonte-texto-secao;
}

.skills__itens:hover {
    z-index: 2;
    transform: scale(1.5);
    background-color: $cor-fundo-card-skill--hover;
    transition: transform 0.5s ease-in-out;
}

@media (min-width: 730px){
    .skills__cards {
        justify-content: normal;
    }
}

@import './skill-control.scss';