$cor-de-fundo: rgb(53, 53, 53);
$cor-container-maior: rgb(37, 214, 37);
$cor-container-menor:rgb(26, 122, 26);
$cor-conteudo:rgb(202, 202, 202);
$espessura-borda:1px;
$cor-hover:rgb(153, 153, 153);


$largura:"100%-2px";
