h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}

canvas {
    background: rgb(190, 190, 190);
    margin: 40px 0;
    display: block;
}

h2 {
    text-align: center;
    margin: 10px 0;
    color: royalblue;
    font-size: 18px;
}