.pessoa__imagem{
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
    display: block;
    border: solid 1px rgba(0, 0, 0, 0.295);
    margin-bottom: 2rem;
}

.pessoa__imagem--roberta{
    background: url(../../../../../arquitetura-css-assets/assets/img/pessoas/roberta.jpg) center / cover no-repeat;   
}
.pessoa__imagem--andreia{
    background: url(../../../../../arquitetura-css-assets/assets/img/pessoas/andreia.jpg) center / cover no-repeat;   
}
.pessoa__imagem--marcela{
    background: url(../../../../../arquitetura-css-assets/assets/img/pessoas/marcela.jpg) center / cover no-repeat;   
}