.nav__container {
    background-color: $cor-fundo-nav;
}

.nav__lista {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.nav__item {
    @include altura-nav;
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: $cor-fonte-nav;
    background-color: transparent;
    font-family: $fonte-texto-secao;
}

.nav__item:nth-child(1),:nth-child(2),:nth-child(3) {
    border-right: none;
}

.nav__item--ativo {
    @include altura-nav;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: $cor-fundo-nav--ativo;
    color: $cor-fonte-nav--ativo;
    font-family: $fonte-texto-secao;
}

.nav__item:hover {
    background-color: $cor-fonte-nav--hover;
}

@media (min-width: 500px) {
    .nav__lista {
        flex-direction: row;
        width: 70%;
    }
    .nav__item {
        width: 25%;
    }
    .nav__item--ativo {
        width: 25%;
    }
}