<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1> Livros da Casa do Código </h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Títulos</th>
        </tr>
        <tr for (livro in data.livros)>
            <td>${livro.id}</td>
            <td>${livro.titulo}</td>
        </tr>

    </table>
</body>

</html>